<!DOCTYPE html>
<!--
Beyond Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.1
Version: 1.2.2
Purchase: http://wrapbootstrap.com
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="@ViewBag.Description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/Theme/assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    @*@Styles.Render("~/Theme/assets/css/bootstrap")*@
    <link href="~/Theme/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />


    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    @*@Styles.Render("~/Theme/assets/css/beyond-rtl")*@
    <link href="~/Theme/assets/css/beyond-rtl.min.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/demo.min.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/typicons.min.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/weather-icons.min.css" rel="stylesheet" />
    <link href="~/Theme/assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    @*@Scripts.Render("~/bundles/skin")*@
    <script src="~/Theme/assets/js/skins.js"></script>

    

</head>
<!--Head Ends-->
<!--Body-->
<body>
    @RenderBody()
    <!--Basic Scripts-->

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Theme/assets/js/jquery.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Theme/assets/js/bootstrap.min.js"></script>
    <script src="~/Theme/assets/js/slimscroll/jquery.slimscroll.min.js"></script>
    <!--Beyond Scripts-->
    @Scripts.Render("~/bundles/beyond")
    <script src="~/Theme/assets/js/beyond.min.js"></script>
    <!--Page Related Scripts-->
    @RenderSection("PageScripts", required: false)
    @RenderSection("FooterSection", false)



</body>
<!--  /Body -->
</html>
