@model ELearning.Web.ViewModels.PagedSearchViewModel<Goldoon.Models.Basic.InformationSource>
<div class="basic-container">
    <div class="basic-header">
        <div>
            @Html.GetPager(this.Model.Entities, "InformationSource/Modal")
            <ul class="header-buttons">
                <li class="search">
                    <span class="input-icon tooltip-primary" data-toggle="tooltip" data-placement="bottom" data-original-title="جستجوی عنوان">
                        @using (Html.BeginForm( "Modal", "InformationSource", FormMethod.Get))
                        {
                            @Html.EditorFor(m => m.SearchCriteria, new { @class = "form-control input-sm", @placeholder = "عنوان" })
                        }
                        <i class="glyphicon glyphicon-search lightgray"></i>
                    </span>
                </li>
            </ul>
        </div>
        <div class="pages">
            @((Model.Entities.Paging.PageIndex) * @Model.Entities.Paging.PageSize + 1) - @(Math.Min(Model.Entities.TotalNumberOfItems, (Model.Entities.Paging.PageIndex + 1) * @Model.Entities.Paging.PageSize)) از @Model.Entities.TotalNumberOfItems مورد
        </div>
    </div>
</div>
<div class="dataTables_wrapper form-inline no-footer padding-20">
    @if (this.Model.Entities != null && this.Model.Entities.Any())
    {
        @Html.AutoColumn(this.Model.Entities, "InformationSource/Modal", "InformationSource_Modal");
    }
</div>

<input id="selectedInformationSourceIds" type="hidden"  name="selectedInformationSourceIds" />
<script>
    $("#InformationSource_Modal_table tr").click(function () {
        SetIds('#InformationSource_Modal_table', 'InformationSourceId');
    });
</script>
<script>
    function SetIds(tableName, fieldName) {
        var Ids = "";
        $(tableName).find('input[type="checkbox"]:checked').each(function (value) {
            Ids += $(this).val() + ",";
        });
        if (Ids != "") {
            fieldName = "#selected" + fieldName + "s";
            $(fieldName).val(Ids);
        }
    }
</script>

