@model Goldoon.Models.Service.ServiceMember
<form action="@Url.Action("Create", "ServiceMember")" method="post" id="dataEntry">
    @Html.Hidden("returnUrl",(string)ViewBag.returnUrl)
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (Model != null && Model.Id != 0)
        {
            @Html.HiddenFor(model => model.Id)
        }
        @Html.Hidden("ServiceId")
        <div class="row">
            @Html.Action("GetModalByUserRole", "UserProfile", new { UserRole = "Student"})
        </div>
    </div>
</form>
<script>
    var selectedServiceId = $("#selectedServiceId").val();
    $('#ServiceId').val(selectedServiceId);
</script>